<div>
  <div>
    <h3>Your booking</h3>
  </div>

  <div class="form">
    <%= simple_form_for [@puzzle, @booking] do |f| %>
      <%= f.input :start_date  %>
      <%= f.input :end_date %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div>
  <%= link_to 'All puzzles', puzzles_path %>
</div>

