<div class="card m-3 p-5">
  <%= simple_form_for(@puzzle) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title, placeholder: 'e.g. Cats' %>
      <%= f.input :size,  placeholder: 'e.g. 1000' %>
      <%= f.input :description, placeholder: 'Enter a comprehensive description of the product'  %>
      <%= f.input :address, placeholder: 'e.g. Bellerivestrasse 1, 8008 Zürich' %>
      <%= f.input :price, placeholder: 'CHF/day' %>
      <%= f.input :photo, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Add a Puzzle", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>



