<div class="container">
  <h1><%= @puzzle.title %></h1>
  <p><%= @puzzle.size %> Pieces</p>
  <div class="row">

    <div class="col-8">
      <div class="card m-3">
        <div class="card-left" style="background-image: url(<%= cl_image_path @puzzle.photo.attached? ? cl_image_path(@puzzle.photo.key) : asset_path('puzzle-placeholder.jpg'), alt: @puzzle.title %>)"></div>
      </div>
    </div>

    <div class="col-4">
      <div class="card mt-3 card-right">
        <p>Price per day: <%= @puzzle.price %></p>
        <div class="form">
          <%= simple_form_for [@puzzle, @booking] do |f| %>
            <%= f.input :start_date  %>
            <%= f.input :end_date %>
            <%= f.submit class: 'btn btn-primary' %>
          <% end %>
        </div>
        <div>
          <p>Total price:</p>
        </div>
      </div>

      <div class="m-3">
        <div>
        <h3>Description:</h3>
          <%= @puzzle.description %>
        </div>
        <div style="margin-top: 12px">
         <p>Location: <%= @puzzle.address %> </p>
        </div>
      </div>
    </div>

  </div>
</div>
