<div class="container">
  <h1><%= @puzzle.title %></h1>
  <p><%= @puzzle.size %> Pieces</p>
  <div class="row">

    <div class="col-8">
      <div class="card m-3">
        <div class="card-left" style="background-image: url(<%= cl_image_path @puzzle.photo.attached? ? cl_image_path(@puzzle.photo.key) : asset_path('puzzle-placeholder.png'), alt: @puzzle.title %>)"></div>
      </div>
    </div>

    <div class="col-4">
      <div class="card mt-3 card-right">
        <p>Price per day:</p>
        <div class="dates">
          <div class="start_date">
            <label for="start">Start date:</label>
            <input type="date" id="start" name="rent-start" value="2021-04-20"
            min="2021-04-20" max="2021-08-20">
          </div>
          <div class="end_date">
            <label for="start"> End date:</label>
            <input type="date" id="end" name="rent-end" value="2021-04-20"
            min="2021-04-20" max="2021-08-20">
          </div>
        </div>
        <p>Total price:</p>
        <div class="btn btn-primary"><%= link_to 'Book now', new_puzzle_booking_path(@puzzle) %></div>
      </div>

      <div class="m-3">
        <h3>Description:</h3>
        <%= @puzzle.description %>
      </div>
    </div>

  </div>
</div>
