<div class="container">
  <h1><%= @puzzle.title %></h1>
  <p><%= @puzzle.size %> Pieces</p>
  <div class="row">

    <div class="col-8">
      <div class="card m-3">
        <div class="card-left" style="background-image: url(<%= cl_image_path @puzzle.photo.attached? ? cl_image_path(@puzzle.photo.key) : asset_path('puzzle-placeholder.png'), alt: @puzzle.title %>)"></div>
      </div>
    </div>

    <%= render 'shared/booking-form' %>

    <div>
      <p>Total price:</p>
    </div>


    <div class="m-2">
      <div>
        <h3>Description:</h3>
          <%= @puzzle.description %>
        </div>
        <div style="margin-top: 12px">
         <p>Location: <%= @puzzle.address.split.last %> </p>
        </div>
      </div>
    </div>
  </div>
</div>
